@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container-full {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(17, 82, 31, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 82, 31, 0.3);
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}

/* the undeline effect */
.link {
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.link:hover {
  color: #569daa;
}
.link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #569daa;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

button {
  transition: all 0.5s ease;
}
button:hover {
  opacity: 0.85;
  transform: translateY(-5px);
  box-shadow: 0px 0px 8px 1px rgba(99, 164, 178, 0.66);
}



/* ddddddddddddd */
.contact {
  background-color: #569daa;
  color: #a5e5d4;
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* picture text */
.pics:hover::after {
  content: attr(data-title);
  color: whitesmoke;
  font-weight: bold;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.409);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
